@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --color-primary-black: #222222; 
  --color-third-color: #B9A16B;
  --color-primary-white: #FFFFFF; 
  --color-fourth-color: #DDC2B9;
  --color-fifth-color: #767676;
  --color-sixth-color: #C32929;
  --color-red: #D6001C
}

.u-list {
    @apply flex gap-11 ml-14;
}

.list-item {
    @apply font-jost font-medium text-sm leading-6 text-primary-black after:bg-primary-black relative after:content-[''] after:h-0.5 after:w-0 after:left-0 after:bottom-0 after:absolute hover:after:w-[40%] after:duration-300;
}

.slick-dots .slick-active {
    @apply flex h-7.5 w-7.5 items-center rounded-full border justify-center border-primary-black;
}

.slick-dots ul {
    @apply flex justify-center items-center;
}

.slick-active div {
    @apply bg-primary-black;
}