@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --color-primary-black: #222222; 
  --color-secondary: #767676;
  --color-third-color: #B9A16B;
  --color-primary-white: #FFFFFF; 
  --color-fourth-color: #DDC2B9;
  --color-fifth-color: #767676;
  --color-sixth-color: #C32929;
  --color-seventh-color: #EBEBEB;
  --color-red: #D6001C;
  --color-black: #000000;
  --color-ftbg: #E4E4E4;;
  --color-twitter: #1DA1F2;
}

.u-list {
    @apply flex gap-11 ml-14;
}

.list-item {
    @apply font-jost font-medium text-sm leading-6 text-primary-black after:bg-primary-black relative after:content-[''] after:h-0.5 after:w-0 after:left-0 after:bottom-0 after:absolute hover:after:w-[40%] after:duration-300;
}

#banner .slick-dots .slick-active {
    @apply flex h-7.5 w-7.5 items-center rounded-full border justify-center border-primary-black;
}

#banner .slick-dots ul {
    @apply flex justify-center items-center;
}

#banner .slick-active div {
    @apply bg-primary-black;
}

.slick-active div {
    @apply bg-primary-white;
}

.list-items {
    @apply font-jost font-medium text-base text-primary-black relative after:content-[''] after:absolute after:bg-primary-black after:w-0 hover:after:w-[40%] after:h-0.5 after:left-0 after:bottom-0 after:duration-300
}

.button-list {
    @apply font-jost font-medium text-sm text-primary-black leading-6 relative after:content-[''] after:absolute after:bg-primary-black after:w-0 hover:after:w-[80%] after:h-0.5 after:left-0 after:bottom-0 after:duration-300
}


